@if(pedido.estado === 'pendiente'){
    <select class="badge bg-warning-subtle text-muted border-0" (change)="estadoChange($event)">
        <option selected>{{ pedido.estado }}</option>
        @for (estado of estadosFilter; track $index) {
            <option [value]="estado" class="text-dark bg-light opacity-50">{{ estado }}</option>
        }
    </select>   
} @else if (pedido.estado === 'revisando') {
        <select class="badge bg-info-subtle text-muted border-0" (change)="estadoChange($event)">
        <option selected>{{ pedido.estado }}</option>
        @for (estado of estadosFilter; track $index) {
            <option [value]="estado" class="text-dark bg-light opacity-50">{{ estado }}</option>
        }   
    </select> 
} @else if (pedido.estado === 'completo') {
        <select class="badge bg-success-subtle text-muted border-0" (change)="estadoChange($event)">
        <option selected>{{ pedido.estado }}</option>
        @for (estado of estadosFilter; track $index) {
            <option [value]="estado" class="text-dark bg-light opacity-50">{{ estado }}</option>
        }   
    </select> 
}
