nav {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav ul {
    flex-direction: column;
    width: 100%;
}

li a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logo{
    transform: rotate(-90deg) scale(5);
}
