<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <h1 class="mb-4">Buenos días, {{this.user.nombre}}</h1>
            <!-- Notificaciones -->
            <div class="alert alert-success d-flex justify-content-between align-items-center">
                <span>3 pedidos han sido completados</span>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="alert alert-info d-flex justify-content-between align-items-center">
                <span>7 pedidos requieren de tu atención</span>
                <button type="button" class="btn-close"></button>
            </div>
        </div>
        <!-- Últimos pedidos -->
        <div class="col-md-8">
            <h2 class="mb-3">Últimos pedidos</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Destino</th>
                        <th>Estado</th>
                        <th>Contacto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Usa *ngFor para iterar sobre los pedidos recientes -->
                    <tr *ngFor="let pedido of getPedidosRecientes()">
                        <td>{{ pedido.nombre }}</td>
                        <td>{{ pedido.destino }}</td>
                        <td>
                            <span class="badge" [ngClass]="{
                                'bg-success': pedido.estado === 'Completado',
                                'bg-warning': pedido.estado === 'En revisión',
                                'bg-danger': pedido.estado === 'En envío'
                            }">{{ pedido.estado }}</span>
                        </td>
                        <td>{{ pedido.contacto }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary mx-1"
                                (click)="openModalDetails(pedido.id)">
                                Ver
                            </button>
                            <button type="button" class="btn btn-sm btn-warning mx-1" data-bs-toggle="modal"
                                data-bs-target="#modalEdit">
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- Pedidos activos -->
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="mb-3">Todos los pedidos</h2>
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Nombre</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Contacto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.origen }}</td>
                        <td>{{ user.destino }}</td>
                        <td>{{ user.fecha }}</td>
                        <td><span class="badge bg-info text-dark">{{ user.estado }}</span></td>
                        <td>{{ user.contacto }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary mx-1" (click)="openModalDetails(user.id)">Ver</button>
                            <button class="btn btn-sm btn-secondary">Editar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal details -->
<div class="modal fade" id="modalDetails" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalDetailsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDetailsLabel">Detalles del pedido</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ID: {{this.user.id}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="modalEdit" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditLabel">Editar pedido</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ID: 1
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>