.alert-success {
  --bs-alert-bg: #a2d7bf !important;
}

.alert-info {
  --bs-alert-bg: #96e2f2 !important;
}

span.bg-warning {
  background-color: #f7df25 !important;
}

span.bg-success {
  background-color: #1ca163 !important;
}

.btn.btn-outline-primary {
  --bs-btn-color: #0d6efd !important;
}
